<a href="https://colab.research.google.com/github/georgeloizouu/GeorgeLoizou.github.io/blob/main/ScrapersHomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
url='https://www.beautifullife.info/automotive-design/top-10-most-expensive-cars-in-the-world/'

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')

In [ ]:
soup.findAll('td',class_="white-td green-td")

[<td class="white-td green-td" width="16.66%"><strong style="color: #bb0017!important">$19 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$13 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$8 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$5.4 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,6 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,4 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$2,8 million</strong></td>]

In [ ]:
values=soup.findAll('td',class_="white-td green-td")
# table.findAll('p',{'class':'lead'})

In [ ]:
values

[<td class="white-td green-td" width="16.66%"><strong style="color: #bb0017!important">$19 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$13 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$8 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$5.4 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,6 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,4 million</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$2,8 million</strong></td>]

In [ ]:
values_list=[i.text.replace ('$','').replace(',','.').replace('million','') for i in values]

In [ ]:
values_list

['19 ', '13 ', '8 ', '5.4 ', '3.6 ', '3.4 ', '2.8 ']

In [ ]:
headings=soup.findAll('td',class_='white-td')

In [ ]:
headings

[<td class="white-td" width="16.66%"><img alt="Bugatti La Voiture Noire" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/00_bugatti_la_voiture_noir.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Bugatti La Voiture Noire" width="160"/><noscript><img alt="Bugatti La Voiture Noire" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/00_bugatti_la_voiture_noir.jpg" title="Bugatti La Voiture Noire" width="160"/></noscript> <strong>Bugatti La Voiture Noire</strong></td>,
 <td class="white-td" width="16.66%"><strong>2019</strong></td>,
 <td class="white-td" width="16.66%"><strong>8.0 L W16</strong></td>,
 <td class="white-td" width="16.66%"><strong>1500 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong style="color: #bb0017">261 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong style="color: #bb0017!important">$19 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="Rolls Royce Sweptails" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/02_rolls_royce_sweptails.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Rolls Royce Sweptails" width="160"/><noscript><img alt="Rolls Royce Sweptails" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/02_rolls_royce_sweptails.jpg" title="Rolls Royce Sweptails" width="160"/></noscript> <strong>Rolls Royce Sweptails</strong></td>,
 <td class="white-td" width="16.66%"><strong>2017</strong></td>,
 <td class="white-td" width="16.66%"><strong>6.75L V12</strong></td>,
 <td class="white-td" width="16.66%"><strong>453 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>150 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$13 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="Mercedes-Maybach Exelero" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/05_mercedes_maybach_exelero.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Mercedes-Maybach Exelero" width="160"/><noscript><img alt="Mercedes-Maybach Exelero" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/05_mercedes_maybach_exelero.jpg" title="Mercedes-Maybach Exelero" width="160"/></noscript> <strong>Mercedes-Maybach Exelero</strong></td>,
 <td class="white-td" width="16.66%"><strong>2005</strong></td>,
 <td class="white-td" width="16.66%"><strong>5.5L Twin-Turbo V12</strong></td>,
 <td class="white-td" width="16.66%"><strong>550 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>217 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$8 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="Pagani Huayra Imola" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/07_pagani_huyara_imola.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Pagani Huayra Imola" width="160"/><noscript><img alt="Pagani Huayra Imola" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/07_pagani_huyara_imola.jpg" title="Pagani Huayra Imola" width="160"/></noscript> <strong>Pagani Huayra Imola</strong></td>,
 <td class="white-td" width="16.66%"><strong>2019</strong></td>,
 <td class="white-td" width="16.66%"><strong>6.0L V12</strong></td>,
 <td class="white-td" width="16.66%"><strong>827 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>238 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$5.4 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="McLaren P1 LM" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/05_mclaren_p1_lm.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="McLaren P1 LM" width="160"/><noscript><img alt="McLaren P1 LM" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/05_mclaren_p1_lm.jpg" title="McLaren P1 LM" width="160"/></noscript> <strong>McLaren P1 LM</strong></td>,
 <td class="white-td" width="16.66%"><strong>2013</strong></td>,
 <td class="white-td" width="16.66%"><strong>3.8L twin-turbocharged M838TQ V8</strong></td>,
 <td class="white-td" width="16.66%"><strong>1000 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>147 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,6 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="Bugatti Veyron Mansory Vivere" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/07_bugatti_veyron_mansory_vivere.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Bugatti Veyron Mansory Vivere" width="160"/><noscript><img alt="Bugatti Veyron Mansory Vivere" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/07_bugatti_veyron_mansory_vivere.jpg" title="Bugatti Veyron Mansory Vivere" width="160"/></noscript> <strong>Bugatti Veyron Mansory Vivere</strong></td>,
 <td class="white-td" width="16.66%"><strong>2005</strong></td>,
 <td class="white-td" width="16.66%"><strong>8.0L</strong></td>,
 <td class="white-td" width="16.66%"><strong>1200 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>253 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$3,4 million</strong></td>,
 <td class="white-td" width="16.66%"><img alt="Pagani Huayra" class="alignnone size-full wp-image-25024" data-lazy-src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/10_pagani_huayra.jpg" height="81" loading="lazy" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20160%2081'%3E%3C/svg%3E" title="Pagani Huayra" width="160"/><noscript><img alt="Pagani Huayra" class="alignnone size-full wp-image-25024" height="81" loading="lazy" src="https://www.beautifullife.info/wp-content/uploads/2020/03/04/10_pagani_huayra.jpg" title="Pagani Huayra" width="160"/></noscript> <strong>Pagani Huayra</strong></td>,
 <td class="white-td" width="16.66%"><strong>2012</strong></td>,
 <td class="white-td" width="16.66%"><strong>370 cu in (6.0L) AMG bi-turbo M158 V12</strong></td>,
 <td class="white-td" width="16.66%"><strong>790 hp</strong></td>,
 <td class="white-td pad-5px" width="16.66%"><strong>230 mph</strong></td>,
 <td class="white-td green-td" width="16.66%"><strong>$2,8 million</strong></td>]

In [ ]:
data_list=[i.text.replace(',','.').replace('million','').replace('$','') for i in headings]

In [ ]:
data_list

[' Bugatti La Voiture Noire',
 '2019',
 '8.0 L W16',
 '1500 hp',
 '261 mph',
 '19 ',
 ' Rolls Royce Sweptails',
 '2017',
 '6.75L V12',
 '453 hp',
 '150 mph',
 '13 ',
 ' Mercedes-Maybach Exelero',
 '2005',
 '5.5L Twin-Turbo V12',
 '550 hp',
 '217 mph',
 '8 ',
 ' Pagani Huayra Imola',
 '2019',
 '6.0L V12',
 '827 hp',
 '238 mph',
 '5.4 ',
 ' McLaren P1 LM',
 '2013',
 '3.8L twin-turbocharged M838TQ V8',
 '1000 hp',
 '147 mph',
 '3.6 ',
 ' Bugatti Veyron Mansory Vivere',
 '2005',
 '8.0L',
 '1200 hp',
 '253 mph',
 '3.4 ',
 ' Pagani Huayra',
 '2012',
 '370 cu in (6.0L) AMG bi-turbo M158 V12',
 '790 hp',
 '230 mph',
 '2.8 ']

In [ ]:
df1=pd.DataFrame([data_list]).T

In [ ]:
df1

                                         0
0                 Bugatti La Voiture Noire
1                                     2019
2                                8.0 L W16
3                                  1500 hp
4                                  261 mph
5                                      19
6                    Rolls Royce Sweptails
7                                     2017
8                                6.75L V12
9                                   453 hp
10                                 150 mph
11                                     13
12                Mercedes-Maybach Exelero
13                                    2005
14                     5.5L Twin-Turbo V12
15                                  550 hp
16                                 217 mph
17                                      8
18                     Pagani Huayra Imola
19                                    2019
20                                6.0L V12
21                                  827 hp
22                                 238 mph
23                                    5.4
24                           McLaren P1 LM
25                                    2013
26        3.8L twin-turbocharged M838TQ V8
27                                 1000 hp
28                                 147 mph
29                                    3.6
30           Bugatti Veyron Mansory Vivere
31                                    2005
32                                    8.0L
33                                 1200 hp
34                                 253 mph
35                                    3.4
36                           Pagani Huayra
37                                    2012
38  370 cu in (6.0L) AMG bi-turbo M158 V12
39                                  790 hp
40                                 230 mph
41                                    2.8

In [ ]:
df1= df1.drop(index = [9,10,11,13,14,15,16,17,19,20,21,22,25,26,27,28,31,32,33,34,35,37,38,39,40,41])

In [ ]:
df1

                                 0
0         Bugatti La Voiture Noire
1                             2019
2                        8.0 L W16
3                          1500 hp
4                          261 mph
5                              19
6            Rolls Royce Sweptails
7                             2017
8                        6.75L V12
12        Mercedes-Maybach Exelero
18             Pagani Huayra Imola
23                            5.4
24                   McLaren P1 LM
29                            3.6
30   Bugatti Veyron Mansory Vivere
36                   Pagani Huayra

In [ ]:
df1= df1.drop(index = [1,2,3,4,5,7,8,23,29])

In [ ]:
df1

                                 0
0         Bugatti La Voiture Noire
6            Rolls Royce Sweptails
12        Mercedes-Maybach Exelero
18             Pagani Huayra Imola
24                   McLaren P1 LM
30   Bugatti Veyron Mansory Vivere
36                   Pagani Huayra

In [ ]:
df1=df1.reset_index(drop=True)

In [ ]:
df1

                                0
0        Bugatti La Voiture Noire
1           Rolls Royce Sweptails
2        Mercedes-Maybach Exelero
3             Pagani Huayra Imola
4                   McLaren P1 LM
5   Bugatti Veyron Mansory Vivere
6                   Pagani Huayra

In [ ]:
df=pd.DataFrame([values_list]).T

In [ ]:
df

      0
0   19
1   13
2    8
3  5.4
4  3.6
5  3.4
6  2.8

In [ ]:
my_df=pd.concat([df1,df], axis=1)

In [ ]:
my_df

                                0     0
0        Bugatti La Voiture Noire   19
1           Rolls Royce Sweptails   13
2        Mercedes-Maybach Exelero    8
3             Pagani Huayra Imola  5.4
4                   McLaren P1 LM  3.6
5   Bugatti Veyron Mansory Vivere  3.4
6                   Pagani Huayra  2.8

In [ ]:
my_df.columns=['Car Name','Price in millions']

In [ ]:
my_df

                         Car Name Price in millions
0        Bugatti La Voiture Noire               19
1           Rolls Royce Sweptails               13
2        Mercedes-Maybach Exelero                8
3             Pagani Huayra Imola              5.4
4                   McLaren P1 LM              3.6
5   Bugatti Veyron Mansory Vivere              3.4
6                   Pagani Huayra              2.8

In [ ]:
my_df.to_csv('myscrapingdata.csv')